@model Response<List<ExpenseTravelInfo>>

@if (Model != null)
{
    double totalExpenseAmount = 0;
    <div class="pk-cart-table-wrapper pk-table-border">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Expense Items</h2>
                </div>
            </div>
        </div>
        @if (Model != null && Model.Data != null && Model.Data.Any())
        {
            <div class="action-body-container ">
                <div class="main-grid-container">
                    <div class="table-responsive scrollable-table-container">
                        <table class="table table-bordered  align-middle">
                            <thead>
                                <tr>
                                    <th scope="col">ExpenseBy</th>
                                    <th scope="col">Source</th>
                                    <th scope="col">Destination</th>
                                    <th scope="col">Travel Date</th>
                                    <th scope="col">Expense Amount</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var cartItem in Model.Data)
                                {
                                    @if (cartItem != null)
                                    {
                                        string title = cartItem.Source + " - " + cartItem.Destination;
                                        totalExpenseAmount += cartItem.ExpenseAmount;
                                        <tr>
                                            <td scope="row">
                                                @if (cartItem.ExpenseByInfo != null && !string.IsNullOrWhiteSpace(cartItem.ExpenseByInfo.Name))
                                                {
                                                    <p>@cartItem.ExpenseByInfo.Name</p>
                                                }
                                            </td>
                                            <td scope="row">
                                                @if (!string.IsNullOrWhiteSpace(cartItem.Source))
                                                {
                                                    <p data-bs-toggle="tooltip" data-bs-placement="bottom" title="@(cartItem.Description ?? string.Empty)">@cartItem.Source</p>
                                                }
                                            </td>
                                            <td scope="row">
                                                @if (!string.IsNullOrWhiteSpace(cartItem.Destination))
                                                {
                                                    <p data-bs-toggle="tooltip" data-bs-placement="bottom" title="@(cartItem.Description ?? string.Empty)">@cartItem.Destination</p>
                                                }
                                            </td>
                                            <td scope="row">
                                                @if (cartItem.TravelDate != null)
                                                {
                                                    <p data-bs-toggle="tooltip" data-bs-placement="bottom">@cartItem.TravelDate.ToString("dd/MM/yyyy")</p>
                                                }
                                            </td>
                                            <td scope="row">
                                                @if (cartItem.ExpenseAmount > 0)
                                                {
                                                    <p>@cartItem.ExpenseAmount.ToString("c")</p>
                                                }
                                            </td>
                                            <td class="d-flex justify-content-end">
                                                <span class="material-icons-outlined arrow btn-icon" id="btnEditExpenseTravelCartItem_@cartItem.Id" title="Edit" onclick="editCartItem('@cartItem.Id')">
                                                    edit
                                                </span>
                                                <span class="material-icons-outlined arrow btn-icon" id="btnDeleteExpenseTravelCartItem_@cartItem.Id" title="Delete" onclick="deleteCartItem('@cartItem.Id', '@title')">
                                                    delete
                                                </span>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body d-flex justify-content-end">
                        <h5 class="card-title mb-2 fw-bold text-end text-dark">
                            @totalExpenseAmount.ToString("c")
                        </h5>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="container">
                <h2>SO FAR NO EXPENSE!</h2>
            </div>
        }
    </div>
}
