@model ExpenseGroceryInfo

@if (Model != null)
{
    <h5>Create Expense</h5>
    <div id="ExpenseCreateFormContainer">
        <div class="row">
            <div class="col-sm-12">
                <form id="formCreateExpenseGrocery" data-id="@Model.Id" data-expense-id="@Model.ExpenseInfoId" data-isupdate="@(Guid.Empty != Model.Id)" autocomplete="off">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="expenseDate" class="form-label">Expense Date <span class="mandatory">*</span></label>
                            <input id="expenseDate" name="expenseDate" asp-for="@Model.ExpenseDate" type="date" class="form-control form-control-sm" aria-describedby="grocery-expense-date-help">
                            <div id="grocery-expense-date-help" style="display:none;" class="form-text">Date should be past or present date of the expense made.</div>
                        </div>
                        <div id="memberListDDContainer" class="form-group" data-val="@Model?.ExpenseByInfo?.Id">
                            <partial name="~/Views/Common/_MemberList.cshtml" model="null" />
                        </div>
                        <div id="groceryListDDContainer" class="form-group" data-val="@Model?.GroceryBaseInfo?.Id">
                            <partial name="~/Views/Common/_MemberList.cshtml" model="null" />
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div id="measureTypeListDDContainer" class="form-group"
                                     data-val="@(!string.IsNullOrWhiteSpace(Model?.MeasureTypeInfo?.MeasureType) ? Model?.MeasureTypeInfo?.MeasureType : "")">
                                    <partial name="~/Views/Common/_MeasureTypeList.cshtml" model="null" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="quantity" class="form-label">
                                        Quantity (in <span id="spanQuantityMeasureTypeInfo"></span>)
                                        <span class="mandatory">*</span>
                                    </label>
                                    <input id="quantity" name="quantity" asp-for="@Model.Quantity" type="text" inputmode="decimal" value="@(Model.Quantity)" class="form-control form-control-sm" aria-describedby="grocery-expense-quantity-help" min="0.0001" pattern="[0-9]*[.]?[0-9]*">
                                    <div id="grocery-expense-quantity-help" style="display:none;" class="form-text">Enter valid quantity of the grocery. Example : 3</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="expenseAmount" class="form-label">Expense Amount <span class="mandatory">*</span></label>
                                    <input id="expenseAmount" name="expenseAmount" asp-for="@Model.ExpenseAmount" type="number" value="@(Model.ExpenseAmount)" class="form-control form-control-sm" aria-describedby="grocery-expense-amount-help" min="0">
                                    <div id="grocery-expense-amount-help" style="display:none;" class="form-text">Enter valid expense amount of the grocery. Example : 50.95</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="expenseDescription" class="form-label">Description</label>
                            <textarea id="expenseDescription" name="description" asp-for="@Model.Description" type="text" class="form-control form-control-sm" aria-describedby="grocery-expense-description-help" maxlength="250"></textarea>
                            <div id="grocery-expense-description-help" style="display:none;" class="form-text">Description is case sensitive, ranges between 2 and 250 characters.</div>
                        </div>
                    </div>
                    <div class="pb-3 pt-3">
                        <button type="button" class="btn btn-secondary">Clear</button>
                        <button id="btnAddExpenseSubmit" type="submit" class="btn btn-primary">Add Expense</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="createGroceryFormContainer">
        <partial name="~/Views/Setup/Grocery/_CreateGrocery.cshtml" model="new GroceryInfo()" />
    </div>

    <script src="~/js/Transactions/ExpenseGrocery/create-expense-grocery-validation.js" asp-append-version="true"></script>
}