<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> @(string.IsNullOrWhiteSpace(Convert.ToString(@ViewData["Title"])) ? "" : @ViewData["Title"] + " - ") PaisaKanaku </title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Two+Tone" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</head>
<body>
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                    <img src="~/images/Logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
                    <span class="pl-5">Paisa Kanaku</span>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li>
                        <a class="nav-link px-2 link-dark" asp-area="" asp-controller="ExpenseProduct" asp-action="Index">Expense - Product</a>
                    </li>
                    <li>
                        <a class="nav-link px-2 link-dark" asp-area="" asp-controller="ExpenseGrocery" asp-action="Index">Expense - Grocery</a>
                    </li>
                    <li>
                        <a class="nav-link px-2 link-dark" asp-area="" asp-controller="ExpenseOutdoorFood" asp-action="Index">Expense - Outdoor Food</a>
                    </li>
                    <li>
                        <a class="nav-link px-2 link-dark" asp-area="" asp-controller="ExpenseFamilyWellbeing" asp-action="Index">Expense - Family Wellbeing</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link px-2 link-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Setup
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Brand" asp-action="Index">Brand</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Member" asp-action="Index">Member</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-controller="BillType" asp-action="Index">Bill Type</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-controller="RepairType" asp-action="Index">Repair Type</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Product</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-controller="OutdoorFoodVendor" asp-action="Index">Outdoor Food Vendor</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="dropdown text-end">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="~/images/Logo.png" alt="" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div id="divPageContainer" data-page="@ViewData["Title"]" class="@(Convert.ToString(ViewData["Title"]) == "Expense" ? "pk-create-expense-layout-container" : "container")">
        <div id="loader" class="pk-loader" style="display:none"></div>
        <div class="toast-container">
            <div id="toast" class="toast align-items-center text-white border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div id="toast-message" class="toast-body">
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Praga.Paisakanaku.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
